:root {
    background-color: #dcd7d5;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}


.flex-column {
    display: flex;
    flex-direction: column;
}


.justify-center {
    justify-content: center;
}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #9c8cb9;
    border-radius: 2rem;
    background-color: aliceblue;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(156, 140, 185, 0.7);

    transform: translate(-0.1rem);
    transition: transform 150ms;
}



.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #9c8cb9;
    color: aliceblue;
    border-radius: 2rem;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/*hud*/
#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
 
}

.hud-main-text {
    text-align: center;
   
}

#progressBar {
    background-color: transparent;
    width: 60rem;
    height: 2rem;
    border: 0.3rem solid #9c8cb9;
    margin-bottom: 5rem;
    border-radius: 2rem; 
}

#progressBarFull {
    border-radius: 5px;
    width: 10%;
    padding: 1.5rem 50% 0 0 ;
    background-color: #9c8cb9;
}


