@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    background-color: #dcd7d5;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;   
}

#progressBar {
    background-color: transparent;
    width: 60rem;
    height: 2rem;
    border: 0.3rem solid #9c8cb9;
    margin-bottom: 5rem;
    border-radius: 2rem; 
}

#progressBarFull {
    border-radius: 5px;
    width: 10%;
    padding: 1.5rem 10% 0 0;
    background-color: #9c8cb9;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 30px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    box-shadow: 1px 5px #00000087;
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #5e5e5e;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
    box-shadow: 5px 8px #00000087;
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn, #restart-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    text-align: center;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

#resultMessage {
    font-size: 1.6rem;
    color: #001e4d;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
