@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: #2e2e2e;
    height: 100vh;
    font-family: "Bungee";
    color: #eee;
    
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

.header__toggle {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
.sidebar-container {
    min-width: 332px;
    height: 680px;
}

.sidebar-logo a {
    width: 200px;
    height: 45px;
    margin: 0 0 96px 32px;
    color: #e5e5e5;
    font-size: 48px;
    cursor: pointer;
}

.sidebar-item {
    margin: 0 auto 51px;
    cursor: pointer;
}

.sidebar-itemlist .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    color: #e5e5e5;
    width: 303px;
    height: 90px;
    border: none;
    border-radius: 25px;
}

.sidebar-itemlist .sidebar-item:hover {
    border: 3px solid #5E9FFF;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #5E9FFF;
}

.sidebar-itemlist .sidebar-item.active {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    color: #e5e5e5;
    width: 303px;
    height: 90px;
    border: 3px solid #5E9FFF;
    border-radius: 25px;
    color: #5E9FFF;
}

.leaderboard {
    margin: 15px 15% 15px 30px;
}

.sidebar-item img {
    width: 45px;
    height: 57px;
    margin: 15px 20% 15px 30px;
}

.main-container {
    min-width: 1040px;
    height: 680px;
    background: #1e1e1e;
}

.profile {
    display: flex;
}

.bendera {
    border: 1px solid wheat;
    width: 120px;
    height: 80px;
    float: right;
    margin-right: 30px;
}

.img-profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid wheat;
    margin: 20px 0 0 20px;
    cursor: pointer;
}

.img-listrik {
    border: 1px solid wheat;
    width: 80px;
    height: 120px;
    margin: 30px 0 0 20px;
}

.profile-txt {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0px;
    width: 25%;
}

input[type=text] {
    background-color: transparent;
    color: #fff;
    font-family: "Bungee", sans-serif;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    width: 500px;
}

.level-atas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 535px;
    height: 200px;
    margin: 10% auto -20% 22%;
}

ul {
    list-style: none;
}

.level-bawah {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 535px;
    height: 200px;
    margin: 20% auto 0 22%;
}

.level-atas a,
.level-bawah a {
    text-decoration: none;
    list-style: none;
    color: #eee;
    justify-content: space-between;
}

.level-atas .level-item,
.level-bawah .level-item {
    background: #8B00FA;
    padding: 20px 40px;
    justify-content: space-between;
    box-shadow: 0px 10px #4B0087;
    border-radius: 25px;
    transition: all .2s ease-in-out;

}

.level-atas .level-item:hover,
.level-bawah .level-item:hover {
    background: #6A00CC;
    box-shadow: 0px 10px #37005C;
    scale: 1.2;
    transition: all .2s ease-in-out;
}

.level-item.locked {
    background: gray;
    box-shadow: 0px 10px #666;
    pointer-events: none;
}


.leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.tbl-leaderboard::-webkit-scrollbar {
    display: none;
}

.tbl-leaderboard {
    display: flex;
    justify-content: space-between;
    border: 5px solid #e5e5e5;
    border-radius: 20px;
    width: 80%;
    max-height: 400px;
    margin: auto;
    overflow-y: auto;
}

.tbl-leaderboard-judul-no {
    border-bottom: 5px solid #626262;
    padding: 20px 25px;
}

.tbl-leaderboard-judul-username {
    border-bottom: 5px solid #626262;
    padding: 20px 25px;
}

.tbl-leaderboard-judul-score {
    border-bottom: 5px solid #626262;
    padding: 20px 15px;
}

.tbl-leaderboard-list-no {
    border-bottom: 5px solid #626262;
    padding: 20px 25px;
}

.tbl-leaderboard-list-username {
    border-bottom: 5px solid #626262;
    width: 900px;
    margin-left: 20px;
}

.tbl-leaderboard-list-score {
    border-bottom: 5px solid #626262;
    padding: 20px 15px;
}

.tbl-leaderboard-no {
    border-bottom: 5px solid #626262;
    padding-right: 30px;
}

th {
    background-color: #1e1e1e;
}

tr:nth-child(even) {
    background-color: #1e1e1e;
}

tr:nth-child(odd) {
    background-color: #1e1e1e;
}

/* Tambahkan warna biru pada user yang sedang login */
.tbl-leaderboard-list-active {
    color: #3498db;
    /* Warna biru */
}

.popup {
    display: block;
    /* Ubah ini ke 'none' jika Anda ingin menyembunyikan popup awalnya */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.popup h1 {
    text-align: center;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup label {
    margin: 10px 0;
}

.popup input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.popup input[type="submit"]:hover {
    background-color: #45a049;
}
.kategori-button {
    background-color: #8B00FA;
    color: #e5e5e5;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 30px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 10px #4B0087;
}

.kategori-button:hover {
    background-color: #6A00CC;
    box-shadow: 0px 10px #37005C;
    transform: scale(1.1);
}


/*popup edit profil*/
.modal-edit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000; 
}


.modal-profil {
    background: #2e2e2e;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s;
    transform: translateY(20%);
    max-width: 400px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    position: relative; 
}

/* Close button */
.modal-close {
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal-close a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close svg {
    fill: none; /* Menghapus pengisian default */
    stroke: #e5e5e5; /* Warna hitam untuk garis */
    width: 24px; /* Ukuran ikon SVG */
    height: 24px; /* Ukuran ikon SVG */
}

.modal-title {
    font-size: 1rem; 
    color: #e5e5e5;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 1rem;
}


/* Show modal */
.show-modal {
    visibility: visible;
    opacity: 1;
}

.show-modal .modal-profil {
    transform: translateY(0);
}

/* Styling untuk input teks dalam modal */
.modal-profil input[type="text"] {
    background-color: #e5e5e5;
    color: #2e2e2e;;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 10px;
    border-radius: 8px;
    width: 70%;
    outline: none;
    text-align: left;
}


.modal-profil input[type="file"] {
    display: none;
}

/* Styling untuk tombol upload file */
.file-input-edit {
    background-color: #e5e5e5;
    color: #333;
    font-size: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    width: 70%;
    margin: 8px 0;
    cursor: pointer;
    display: inline-block;
    text-align: left;
}

/* Styling tombol upload file saat hover */
.file-input-edit:hover {
    background-color: #ddd;
}

/* Styling untuk input button */
.modal-profil input[type="button"] {
    background-color: #8B00FA;
    color: #fff;
    font-family: "Bungee", sans-serif;
    border: 1px solid #8B00FA;
    border-radius: 20px;
    transition: transform 150ms, box-shadow 150ms;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    width: 90px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-profil input[type="button"]:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #9c2ff5;
    transform: translate(-0.1rem);
}

/* Active link */
.active-link {
    background-color: var(--white-color-light);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.active-link span {
    color: var(--white-color);
}


/* Desktop 
@media only screen and (min-width:1200px) {
    .sidebar-container {
        width: 30px;
    }

    .main-container {
        margin-left: 300px;
    }
}*/

/* Active link */
.active-link {
    background-color: var(--white-color-light);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.active-link span {
    color: var(--white-color);
}
