@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    font-family: "Bungee", sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #575757;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
}

.sidebar-item {
    padding: 10px;
}

.main-menu {
    list-style-type: none;
    padding: 0;
}

.main-menu > li {
    padding: 15px;
    text-align: left;
}

.main-menu > .user a,
.main-menu > .kategori-menu > #kategori-link {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    padding: 15px;
}

.main-menu > .user a:hover,
.main-menu > .kategori-menu > #kategori-link:hover {
    background-color: #2e2e2e;
    scale: 1.1;
    transition: all .2s ease-in-out;
}

.submenu {
    list-style-type: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-color: #333333;
    opacity: 0;
    visibility: hidden;
}

.submenu.active{
    max-height: 600px; /* Adjust as needed */
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;

}

.submenu > a li {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;    transition: all .3s ease-in-out;

}

.submenu > a li:hover {
    background-color: #2e2e2e;
    scale: 1.1;
    transition: all .3s ease-in-out;
}

.user-table {
    margin-left: 180px;
    padding: 20px;
    width: calc(100% - 250px);
}

.delete-button {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0.25rem;
    border: 1px solid #a30f0f;
    background-color: #a30f0f;
    color: #E5E5E5;
    position: fixed;
    bottom: 610px;
    right: 60px;
}

.delete-button:hover {
    background-color: #d20b0b;
}

.user-table {
    z-index: 1000;
}

.table-body {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 30px;
}

.table-body::-webkit-scrollbar {
    display: none;
}

table {
    text-align: center;
    overflow-y: auto;
    max-height: 30px;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    transition: .2s ease;
}

th {
    padding: 20px;
    background-color: #555;
    position: sticky;
    top: 0;
}

td {
    padding: 15px;
    border-right: 1px solid #444;
}

td img {
    width: auto;
    height: auto;
    max-width: 70px;
}

tr{
    border: 5px solid wheat;
}

tr:hover {
    background-color: #444;
}

a{
    text-decoration: none;
}